name: Build and deploy

on:
  schedule:
    # run every 24 hours on the 23rd minute (github actions sees higher usage on
    # the 0th minute)
    - cron: 23 */24 * * *
  push:

jobs:
  build_and_deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('yarn.lock') }}
      - uses: actions/cache@v2
        with:
          path: public/images/
          key: images
      - run: yarn install --frozen-lockfile
      - run: yarn projects
      - run: cat projects.json
      - run: yarn build
      - run: yarn export
      - env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: npx netlify deploy --prodIfUnlocked --site $NETLIFY_SITE_ID --auth $NETLIFY_AUTH_TOKEN --dir=out/
